In [ ]:
import pandas as pd
import plotly.express as px

load the file

In [ ]:
df = pd.read_excel('data/Canada.xlsx', skipfooter=2, 
                   skiprows=20, sheet_name=1)
df

preprocessing

In [ ]:
df.columns

In [ ]:
cols_to_drop = ['Type', 'Coverage', 'AREA', 'REG', 'DEV']

In [ ]:
df[cols_to_drop] # looking at the columns to drop

df.drop() remove the rows/columns that are not needed

In [11]:
df = df.drop(columns=cols_to_drop)
df.head(3)

,OdName,AreaName,RegName,DevName,1980,1981,1982,1983,1984,1985,...,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,Afghanistan,Asia,Southern Asia,Developing regions,16,39,39,47,71,340,...,2978,3436,3009,2652,2111,1746,1758,2203,2635,2004
1,Albania,Europe,Southern Europe,Developed regions,1,0,0,0,0,0,...,1450,1223,856,702,560,716,561,539,620,603
2,Algeria,Africa,Northern Africa,Developing regions,80,67,71,69,63,44,...,3616,3626,4807,3623,4005,5393,4752,4325,3774,4331